:root {
  --line-border-fill: red;
  --line-border-empty: #3498db;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  margin-bottom: 10px;
}
.container {
  display: flex;
  height: 100vh;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle {
  height: auto;
  width: 20px;
  text-align: center;
  color: white;
  margin: 0 0 0 45px;
  padding: 2px;
  background-color: rgb(117, 114, 114);
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--line-border-empty);
  transition: 0.4s ease;
}
.circle:first-child {
  margin: 0 0 0 0;
}
.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  margin: 10px 10px 0 10px;
  width: 100px;
  padding: 10px 0 10px;
  border-radius: 6px;
  color: white;
  border: 0;
  background-color: var(--line-border-empty);
  cursor: pointer;
}
.line {
  left: 25px;
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  height: 3px;
  width: 0;
  z-index: -1;
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
.btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}
